<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">	

	<a type="button" class="navbar-toggle nav-link" href="https://plus.google.com/u/0/+{{ site.author.googleplus }}">
		<i class="fa fa-google-plus"></i>
	</a>
	
	<a type="button" class="navbar-toggle nav-link" href="mailto:{{ site.author.email }}">
		<i class="fa fa-envelope"></i>
	</a>
	

	<a type="button" class="navbar-toggle nav-link" href="https://github.com/{{ site.author.github }}">
		<i class="fa fa-github"></i>
	</a>
	
	
	<a type="button" class="navbar-toggle nav-link" href="https://twitter.com/{{ site.author.twitter }}">
		<i class="fa fa-twitter"></i>
	</a>
	
		
	<a class="navbar-brand" href="/">
		<img src="{{ site.BASE_PATH }}/assets/media/avatar-small.png" class="img-circle">
		
	</a>
</div>